In [1]:
# premier opérateur de comparaison : ==
1 == 1

True

In [2]:
1==2

False

In [3]:
# 2ème opérateur de comparaison : !=
1!=2

True

In [4]:
# 3ème opérateur de comparaison : >
1>2

False

In [5]:
2>1

True

In [6]:
1>1

False

In [7]:
1<2

True

In [8]:
1>=1

True

In [9]:
2 <= 5

True

In [10]:
a=1

In [11]:
# premier opérateur logique : and
(3==3) and (4==4)

True

In [12]:
(3==3) and (4==5)

False

In [13]:
# deuxième opérateur logique : or
(3==3) or (4==5)

True

In [14]:
(3!=3) or (4==5)

False

In [15]:
# 3ème opérateur logique : not
not((3!=3) or (4==5))

True

In [16]:
# instruction de condition if
# if condition:
# action 1
# else:
# action 2

In [17]:
ma_variable1=2
ma_variable2=6
ma_variable3="hello"

In [18]:
if (ma_variable1 == 2 ) and (ma_variable3 == "hello"):
    print("Ta comparaison est vraie !")
else:
    print("Ta comparaison est fausse !")

Ta comparaison est vraie !

In [19]:
if (ma_variable1 == 2 ) and (ma_variable3 == "hello"):
    print("Ta comparaison est vraie !")
else:
print("Ta comparaison est fausse !")

IndentationError: expected an indented block (<ipython-input-19-6e28bb8a49ca>, line 4)

In [21]:
if (ma_variable1 > ma_variable2) or (ma_variable3 == "hello"):
    print("Ta comparaison est vraie !")
else:
    print("Ta comparaison est fausse !")

Ta comparaison est vraie !

In [22]:
if (ma_variable1 > ma_variable2) and (ma_variable3 == "hello"):
    print("Ta comparaison est vraie !")
else:
    print("Ta comparaison est fausse !")

Ta comparaison est fausse !

In [31]:
# boucle for 
# for ma_valeur in liste:
# blocs d'actions

In [32]:
ma_liste=[1,2,3,4,5,6,7,8,9,10]

In [34]:
for ma_valeur in ma_liste:
    print(ma_valeur*2)
    print("---")

2
---
4
---
6
---
8
---
10
---
12
---
14
---
16
---
18
---
20
---

In [35]:
for ma_valeur in ma_liste:
    ma_nouvelle_variable=ma_valeur*2
    print("La multiplication de 2 * %d = %d" % (ma_valeur,ma_nouvelle_variable))

La multiplication de 2 * 1 = 2
La multiplication de 2 * 2 = 4
La multiplication de 2 * 3 = 6
La multiplication de 2 * 4 = 8
La multiplication de 2 * 5 = 10
La multiplication de 2 * 6 = 12
La multiplication de 2 * 7 = 14
La multiplication de 2 * 8 = 16
La multiplication de 2 * 9 = 18
La multiplication de 2 * 10 = 20

In [36]:
# boucle while
# while condition:
# bloc d'actions

In [37]:
compteur=0
while (compteur < 10):
    print("Mon compteur = %d" % (compteur))
    print("Ma valeur = %d" % (ma_liste[compteur]))
    compteur=compteur+1

Mon compteur = 0
Ma valeur = 1
Mon compteur = 1
Ma valeur = 2
Mon compteur = 2
Ma valeur = 3
Mon compteur = 3
Ma valeur = 4
Mon compteur = 4
Ma valeur = 5
Mon compteur = 5
Ma valeur = 6
Mon compteur = 6
Ma valeur = 7
Mon compteur = 7
Ma valeur = 8
Mon compteur = 8
Ma valeur = 9
Mon compteur = 9
Ma valeur = 10

In [41]:
compteur=0
compteur_resultat_vrai=0
while (compteur < 10):
    if ma_liste[compteur] % 2 == 0:
        print("Mon compteur = %d" % (compteur))
        print("Ma valeur = %d" % (ma_liste[compteur]))
        compteur_resultat_vrai=compteur_resultat_vrai+1
    compteur=compteur+1
print(compteur_resultat_vrai)

Mon compteur = 1
Ma valeur = 2
Mon compteur = 3
Ma valeur = 4
Mon compteur = 5
Ma valeur = 6
Mon compteur = 7
Ma valeur = 8
Mon compteur = 9
Ma valeur = 10
5

In [42]:
prix_de_58_maisons=list(range(125000,700000,10000))

In [43]:
prix_de_58_maisons

[125000,
 135000,
 145000,
 155000,
 165000,
 175000,
 185000,
 195000,
 205000,
 215000,
 225000,
 235000,
 245000,
 255000,
 265000,
 275000,
 285000,
 295000,
 305000,
 315000,
 325000,
 335000,
 345000,
 355000,
 365000,
 375000,
 385000,
 395000,
 405000,
 415000,
 425000,
 435000,
 445000,
 455000,
 465000,
 475000,
 485000,
 495000,
 505000,
 515000,
 525000,
 535000,
 545000,
 555000,
 565000,
 575000,
 585000,
 595000,
 605000,
 615000,
 625000,
 635000,
 645000,
 655000,
 665000,
 675000,
 685000,
 695000]

In [44]:
len(prix_de_58_maisons)

58

In [45]:
# 1. Combien de maisons ont un prix supérieur à 300000 euros ?
# définir notre compteur
nombre_maisons=0
for prix in prix_de_58_maisons:
    if prix >= 300000:
        nombre_maisons=nombre_maisons+1
print("Le nombre de maisons avec un prix supérieur ou égal à 300000 euros est de : %d" % (nombre_maisons))

Le nombre de maisons avec un prix supérieur ou égal à 300000 euros est de : 40

In [46]:
# 2. Combien de maisons ont un prix compris entre 250000 et 400000 euros ?
nombre_maisons=0
for prix in prix_de_58_maisons:
    if (prix >= 250000) and (prix <= 400000):
        nombre_maisons=nombre_maisons+1
print("Le nombre de maisons qui ont un prix compris entre 250000 et 400000 euros est de : %d" % (nombre_maisons))

Le nombre de maisons qui ont un prix compris entre 250000 et 400000 euros est de : 15

In [47]:
# 3. Combien de maisons ont un prix qui n'est pas supérieur à 600000 euros ?
nombre_maisons=0
for prix in prix_de_58_maisons:
    if not(prix > 600000):
        nombre_maisons=nombre_maisons+1
print("Le nombre de maisons qui ont un prix qui n'est pas supérieur à 600000 euros est de : %d" % (nombre_maisons))

Le nombre de maisons qui ont un prix qui n'est pas supérieur à 600000 euros est de : 48

In [48]:
# 4. Combien de maisons ont un prix inférieur à 150000 euros OU supérieur à 650000 euros ?
nombre_maisons=0
for prix in prix_de_58_maisons:
    if (prix < 150000) or (prix > 650000):
        nombre_maisons=nombre_maisons+1
print("Le nombre de maisons qui ont un prix inférieur à 150000 euros OU supérieur à 650000 euros est de : %d" % (nombre_maisons))

Le nombre de maisons qui ont un prix inférieur à 150000 euros OU supérieur à 650000 euros est de : 8

In [49]:
# fonction en python
# def ma_fonction(argument1, argument2, ...):
# code
# code
# resultat = code
# return resultat

In [50]:
def nombre_de_maisons_avec_prix_superieur_a_300000_euros(une_liste):
    nombre_maisons=0
    for prix in une_liste:
        if prix >= 300000:
            nombre_maisons=nombre_maisons+1
    return nombre_maisons

In [51]:
nombre_maisons=nombre_de_maisons_avec_un_prix_superieur_a_300000_euros(prix_de_58_maisons)

NameError: name 'nombre_de_maisons_avec_un_prix_superieur_a_300000_euros' is not defined

In [52]:
nombre_maisons=nombre_de_maisons_avec_prix_superieur_a_300000_euros(prix_de_58_maisons)

In [53]:
nombre_maisons

40

In [54]:
def nombre_de_maisons_avec_prix_superieur_a_300000_euros(une_liste):
    nombre_maisons=0
    nombre_maisons_total=0
    for prix in une_liste:
        if prix >= 300000:
            nombre_maisons=nombre_maisons+1
        nombre_maisons_total=nombre_maisons_total+1
    return (nombre_maisons,nombre_maisons_total)

In [56]:
nombre_maisons_1,nombre_maisons_total=nombre_de_maisons_avec_prix_superieur_a_300000_euros(prix_de_58_maisons)

In [57]:
print(nombre_maisons_1)
print(nombre_maisons_total)

40
58