In [1]:
mon_dictionnaire={
    "Marie" : 15,
    "Thomas" : 12,
    "Julien" : "absent",
    "Elise" : 9,
    "Samuel" : 17
}

In [2]:
mon_dictionnaire

{'Marie': 15, 'Thomas': 12, 'Julien': 'absent', 'Elise': 9, 'Samuel': 17}

In [3]:
mon_dictionnaire["Samuel"]

17

In [4]:
mon_dictionnaire["Julie"]=9
print(mon_dictionnaire)

{'Marie': 15, 'Thomas': 12, 'Julien': 'absent', 'Elise': 9, 'Samuel': 17, 'Julie': 9}

In [5]:
mon_dictionnaire["Julien"]=13
print(mon_dictionnaire)

{'Marie': 15, 'Thomas': 12, 'Julien': 13, 'Elise': 9, 'Samuel': 17, 'Julie': 9}

In [6]:
mon_dictionnaire["Julien"]=16
print(mon_dictionnaire)

{'Marie': 15, 'Thomas': 12, 'Julien': 16, 'Elise': 9, 'Samuel': 17, 'Julie': 9}

In [7]:
del mon_dictionnaire["Julie"]

In [14]:
print(mon_dictionnaire)

{'Marie': 15, 'Thomas': 12, 'Julien': 16, 'Elise': 9, 'Samuel': 17}

In [15]:
mon_dictionnaire.keys()

dict_keys(['Marie', 'Thomas', 'Julien', 'Elise', 'Samuel'])

In [16]:
mon_dictionnaire.values()

dict_values([15, 12, 16, 9, 17])

In [17]:
for cle in mon_dictionnaire.keys():
    print(cle)

Marie
Thomas
Julien
Elise
Samuel

In [18]:
for valeur in mon_dictionnaire.values():
    print(valeur)

15
12
16
9
17

In [19]:
mon_dictionnaire.items()

dict_items([('Marie', 15), ('Thomas', 12), ('Julien', 16), ('Elise', 9), ('Samuel', 17)])

In [20]:
for cle,valeur in mon_dictionnaire.items():
    print(cle,valeur)

Marie 15
Thomas 12
Julien 16
Elise 9
Samuel 17

In [21]:
notes_eleves={
    "Marie" : 15,
    "Samuel" : 17,
    "Gaston" : 12,
    "Fred" : 10,
    "Mae" : 5,
    "Julie" : 15,
    "Zoe" : 7,
    "Claire" : 20,
    "Chloe" : 8,
    "Julien" : 14,
    "Gaël" : 9,
    "Samia" : 15,
    "Omar" : 11,
    "Gabriel" : 16,
    "Manon" : 2
}

In [26]:
list(notes_eleves.values())

[15, 17, 12, 10, 5, 15, 7, 20, 8, 14, 9, 15, 11, 16, 2]

In [27]:
# 1. Quelle est la moyenne générale de la classe ?
import numpy
moyenne_generale=numpy.mean(list(notes_eleves.values()))

In [28]:
moyenne_generale

11.733333333333333

In [29]:
# 2. Afficher le nombre total d'élèves dans la classe
nombre_eleves=len(notes_eleves)
print("Le nombre d'élèves dans la classe est de %d" % (nombre_eleves))

Le nombre d'élèves dans la classe est de 15

In [31]:
len(notes_eleves.keys())

15

In [33]:
# 3. Combien d'élèves ont une note strictement supérieure à la moyenne de la classe ?
nombre_eleves_avec_note_sup_moyenne=0
for valeur in notes_eleves.values():
    if valeur > moyenne_generale:
        nombre_eleves_avec_note_sup_moyenne=nombre_eleves_avec_note_sup_moyenne+1
print("Le nombre d'élèves avec une note supérieure à %.2f est de %d élèves" % (moyenne_generale, nombre_eleves_avec_note_sup_moyenne))

Le nombre d'élèves avec une note supérieure à 11.73 est de 8 élèves

In [34]:
# 4. Quel est le prénom du meilleur élève de la classe ?
meilleure_note=max(notes_eleves.values())

In [35]:
meilleure_note

20

In [36]:
for prenom,note in notes_eleves.items():
    if note == meilleure_note:
        print(prenom)

Claire

In [38]:
# 5. Combien d'élèves ont un prénom avec strictement moins de 4 lettres ?
nombre_eleves=0
for prenom in notes_eleves.keys():
    if len(prenom) < 4:
        nombre_eleves=nombre_eleves+1
print(nombre_eleves)

2

In [41]:
# 6. Afficher les prénoms des élèves qui ont une note paire.
for prenom,note in notes_eleves.items():
    if note % 2 == 0:
        print(prenom, note)

Gaston 12
Fred 10
Claire 20
Chloe 8
Julien 14
Gabriel 16
Manon 2